/* Apply font family to all elements */
* {
    font-family: Nunito, sans-serif;
  }
  
  /* General section styling */
  section {
    /* Add any specific styles for the section tag here if needed */
  }
  
  /* General text styling */
  .text-blk {
    margin: 0;
    line-height: 25px;
  }
  
  /* Responsive container styling */
  .responsive-cell-block {
    min-height: 75px;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
  }
  
  /* Outer container styling */
  .outer-container {
    padding: 10px 50px;
    background-color: rgb(244, 252, 255);
  }
  
  /* Inner container styling */
  .inner-container {
    max-width: 1320px;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
  }
  
  /* Section head text styling */
  .section-head-text {
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    color:maroon;
    margin: 0 0 10px 0;
  }
  
  /* Section subhead text styling */
  .section-subhead-text {
    font-size: 25px;
    color: rgb(153, 153, 153);
    line-height: 35px;
    max-width: 470px;
    text-align: center;
    margin: 0 0 60px 0;
  }
  
  /* Image wrapper styling */
  .img-wrapper {
    width: 100%;
  }
  
  /* Team card styling */
  .team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Social media links styling */
  .social-media-links {
    width: 125px;
    display: flex;
    justify-content: space-between;
  }
  
  /* Name styling */
  .name {
    font-size: 25px;
    font-weight: 700;
    color: rgb(102, 102, 102);
    margin: 0 0 5px 0;
  }
  
  /* Position styling */
  .position {
    font-size: 25px;
    font-weight: 700;
    color: rgb(0, 135, 177);
    margin: 0 0 50px 0;
  }
  
  /* Team image styling */
  .team-img {
    width: 100%;
    height: 100%;
  }
  
  /* Team card container styling */
  .team-card-container {
    width: 280px;
    margin: 0 0 40px 0;
  }
  
  /* Media query for mobile devices */
  @media (max-width: 500px) {
    .outer-container {
      padding: 10px 20px;
    }
  
    .section-head-text {
      text-align: center;
    }
  }
  
  .team-card:hover {
    background-color:maroon; /* Change this to the color you want */
  }










  




/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    max-height: 300px; /* Set a maximum height for the dropdown menu */
    overflow-y: auto; /* Enable vertical scrolling */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  /* Optional: Style the scrollbar for better appearance */
  .dropdown-content::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .dropdown-content::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the scrollbar thumb */
  }
  
  .dropdown-content::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar thumb on hover */
  }
  
  .dropdown-content::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 4px; /* Rounded corners for the scrollbar track */
  }
  
  
  
  
  
  
  
  
  
  
  
  *{
    padding:0;
    margin:0;
    font-family:'Public Sans', sans-serif;
  }
  
  :root{
    --PrimaryColor:#471818;
    --SecondaryColor: #f99a00;
    --DarkColor:#585858;
    --LightColor:#fff;
  }
  .primary-color{
    background-color: var(--PrimaryColor);
  }
  #topbar {
    background-color: 47090; 
    padding-bottom: 0; /* Remove padding bottom */
    margin-bottom: 0; /* Remove margin bottom */
  }
  
  /* Navbar style */
  .navbar-brand h1 {
    font-size: 30px;
    font-weight: bold;
    color: #d1600a;
  }
  
  .navbar-brand h6 {
    font-size: 14px;
    font-weight: 550;
    color: #0c0808;
  }
  
  
  
  
  .navbar {
    padding-top: 0; /* Remove padding top */
    margin-top: 0; /* Remove margin top */
  }
  
  .nav-item .nav-link{
    font-size:14px!important;
    font-weight:300;
    color:var(--DarkColor)!important;
    margin-left:5px!important;
  }
  
  .nav-item.active{
    color:var(--PrimaryColor)!important;
    font-weight:500!important ;
  }








  
/* Contact Us Section */

.contact-us-section {
    padding: 60px 0;
    background-color: #f7f7f7;
    margin-bottom: 0px;
  }
  
  .contact-us-section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #333;
  }
  
  .contact-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .contact-form input[type="submit"] {
    background-color: #471818;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .contact-form input[type="submit"]:hover {
    background-color: #ff9900;
  }
  
  .contact-info {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contact-info h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .contact-info p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
  }
  
  .contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contact-info li {
    margin-bottom: 10px;
  }
  
  .contact-info li i {
    margin-right: 10px;
    font-size: 18px;
    color: #471818;
  }
  
  .contact-info li a {
    text-decoration: none;
    color: #333;
  }
  
  .contact-info li a:hover {
    color: #ff9900;
  }
  
  .map-container iframe {
    height: 350px; /* adjust the height to your desired value */
  }
  
  
  
  
  /* Footer Styles */
  .footer {
    background:#471818;
    padding: 60px;
   
    width: 100%;
  
  }
  
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
  }
  
  .footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 30px;
  }
  
  .footer-col .links {
    margin-top: 20px;
  }
  
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
  }
  
  .footer-col .links li a:hover {
    color: #fff;
  }
  
  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
  }
  
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
  }
  
  .footer-col input::placeholder {
    color: #ccc;
  }
  
  .footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  
  .footer-col form button:hover {
    background: #cecccc;
  }
  
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }
  
  .footer-col .icons i {
    color: #afb6c7;
  }
  
  .footer-col .icons i:hover {
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .footer {
      position: relative;
      padding: 20px;
      gap: 1rem;
      border-radius: 0;
    }
    
    .footer-col form {
      display: block;
    }
    
    .footer-col form :where(input, button) {
      width: 100%;
    }
    
    .footer-col form button {
      margin: 10px 0 0 0;
    }
  }
  
  /* Main content styling */
  main {
    flex: 1; /* Ensure main content takes up remaining space */
    display: flex;
    flex-direction: column;
  }
  
  footer {
    margin-top: auto; /* Push footer to the bottom of the page */
  }




  